

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.orange {
    color: #e27602;

}
.user-email{
    font-size: xx-small;
}
.black {
    background-color: black;
    color: #fff;
}
.gray{
    color: gray;

}

.word-spacing {
    word-spacing: -1px;
}

.spacing {
    word-spacing: -1.3px;
}
.ais-SearchBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ais-SearchBox-form {
    display: flex;
    width: 100%;
}
.ais-SearchBox-input{
    border: none;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px;
    &:focus {
        outline: none;
    }
    @media (min-width: 40rem) {
        width: 50rem; 
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        width: 40rem; 
    }
    
}
.ais-SearchBox-submit, .ais-SearchBox-reset{
    background-color: #fff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    &:focus {
        outline: none;
    }
}

.ais-SearchBox-submitIcon{
       width: 100%;
       height: 100%;
       margin-right: 10px;
       color: #fff;
}
ais-SearchBox-resetIcon{
    display: none
}
.ais-Hits{
    margin-top: 3rem;
}
@media (min-width:360px){
    .ais-Hits-list{
        grid-template-columns: repeat( 1, 1fr );
        column-gap: 2rem;
        row-gap: 2rem;
    }
}
@media (min-width:768px){
    .ais-Hits-list{
        grid-template-columns: repeat( 3, 1fr );
        column-gap: 2rem;
        row-gap: 2rem;
    }
}
@media (min-width:1024px){
    .ais-Hits-list{
        display:grid;
        grid-template-columns: repeat( 3, 1fr );
        column-gap: 2rem;
        row-gap: 2rem;
    }
}


  